<!doctype html>
<html>
	<head>
		<title>Exposito - A new way to do Open Source</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/favicons/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/favicons/favicon-192.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/favicons/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/favicons/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16.png">
		<link rel="apple-touch-icon" href="/favicons/favicon-57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicons/favicon-60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180.png">

    <% if (ENV_DEVELOPMENT) { %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% } %>

		<script>
			var host = window.location.hostname

			if(host != "localhost") {
				// Google Analytics
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-104517608-1', 'auto');
				ga('send', 'pageview');

				// Hotjar
				(function(h,o,t,j,a,r){
						h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
						h._hjSettings={hjid:593877,hjsv:5};
						a=o.getElementsByTagName('head')[0];
						r=o.createElement('script');r.async=1;
						r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
						a.appendChild(r);
				})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');				
			}
			else {
				var ga = function() {}
			}

		</script>


		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '108981439831203'); 
		fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=108981439831203&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->
				


    <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
</head>
