<% include header %>

	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">exposito</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#contact">Contact</a></li>
							<li><a href="#" class="button special">Try it now</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>A new way to do Open Source</h2>
							<p>Exposito is a contribution platform based on<br> cryptocurrencies that allow developers to<br> build and manage their open source project as a DAO</p>
						</header>
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>


				<section id="one" class="spotlight style2 left">
					<span class="image fit main"><img src="images/pic03.jpg" alt="" />
						<header>
							<p>Manage your open source project just as you would manage a startup, but without any paperwork, bank account or credit card</p>
						</header>					
					</span>
					<div class="content">
						<header>
							<h2>Your project as a DAO</h2>
						</header>
						<p>Each project on Exposito is a Decentralized Autonomous Organization, with its own token as equity. You get to choose what percentage goes to the founders, managers, developers and other shareholders. You can then use your shares to elect project managers, assign funds or vote on any topic related to the project, like feature priority or dividend distribution.</p>
						<p>Developers are a special type of shareholders. Each developer receives an amount of tokens corresponding to the number of lines of code he or she contributed to the project. The more you contribute, the more tokens you receive. </p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>


				
				
				
				
				<section id="two" class="spotlight style3 right">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Open Source doesn’t have to mean free</h2>
						</header>
						<p>We provide powerful tools to charge your customers and manage your money exactly the way you want. Without any bank account or credit card needed. Pay your servers automatically or set up periodic payments for project managers and developers to reward them for their work. </p>
						<p>And just like any decision on the platform, the amounts and frequency of those payments can be either decided by a vote of shareholders or delegated to managers. </p>
						<p>As a developer, receiving payments for your contributions is as easy as adding your Bitcoin public address to your Github profile. You don’t even need to register for an Exposito account. The platform will then automatically detect your address and transfer the amount to your wallet. </p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

				
				
				
				<section id="four" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Find other developers to contribute to your project</h2>
						</header>
						<p>Building an open source project is no easy task and finding the right software engineers to help advance the development of your app can be quite time consuming. This is why we provide a marketplace where every project is displayed with a complete description of its equity distribution, current and projected revenues and how much money a developer can expect to make for his contributions. </p>
						<p>Developers can then choose the project that looks the most promising so they can best allocate their time. The more advantageous the equity of the project is for them, the easier it will be to recruit top tier coders. </p>

					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>	




				<section id="four" class="spotlight style3 right">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Cryptocurrency-enabled cloud providers</h2>
							<p>Use the same tools that you’re used to work with and pay with cryptocurrencies</p>
						</header>
						<p>Servers and data storage are often needed to run an app. But existing cloud providers are not well suited to decentralized organizations and cryptocurrencies. This is why we built a thin wrapper around popular cloud providers, such as AWS and Google Cloud Compute to make your life easier. </p>

<p>It’ll allow your organization to pay for server instances and other cloud resources in cryptocurrencies and to elect IT managers, who will have the authorization to create, remove and modify those resources. As usual, vote or delegate the task to elect the IT managers.</p>

					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>					




				<section id="four" class="spotlight style3 right">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Finance your project with an ICO</h2>
						</header>

						<p>Since Exposito is based on (leverages) the robust Aragon platform, it is easy to create a token sale to raise money for your project. Just select the number of tokens you wish to create/sell, the amount you would like to raise and the duration of the fundraising/sale. You will have an ICO created in minutes for your project.</p>					

					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>										



				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Accumsan sed tempus adipiscing blandit</h2>
							<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Ipsum sed commodo</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Eleifend lorem ornare</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3>Cubilia cep lobortis</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Non semper interdum</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-file"></span>
									<h3>Odio laoreet accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-lock"></span>
									<h3>Massa arcu accumsan</h3>
									<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions">
								<li><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>

<% include footer %>