<% include header %>

	<body class="landing">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WCVQ43"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div id="page-wrapper">
			    
				<header id="header">
					<h1 id="logo"><a href="/">exposito</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<!--<li><a href="#contact">Contact</a></li>-->
							<li><a href="javascript:scrollTo('invitation')" class="button special">Try it now</a></li>
						</ul>
					</nav>
				</header>

				<section id="banner">
					<div class="content">
						<header>
							<h2>A new way to do Open Source</h2>
							<p>
								Exposito is a contribution platform based on<br> 
								cryptocurrencies that lets developers manage their<br> 
								open source project just as a you would manage a startup:<br>
								with equity, easy fundraising and shareholder votes.
							</p>
						</header>
						<span class="image"><img src="images/logo2.svg" alt="" /></span>
					</div>
					<a href="#dao" class="goto-next scrolly">Next</a>
				</section>


				<section id="dao" class="spotlight style1 right middle">
					<span class="image fit main mobile">
						<img src="images/pic04.mobile.jpg" alt="" />
						<iframe class="video demo1" src="https://www.youtube.com/embed/7TU8ldfVMvc?rel=0&amp;showinfo=0&amp;enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</span>
					<div class="content">
						<h3>Open Source Shareholders</h3>
						<p>Each project on Exposito possesses its own unique token that acts as its equity. You choose what percentage goes to the founders, developers and other shareholders. 
						<br><br>
						You can then use your shares to elect managers, assign funds or vote on major decisions. We call these new types of projects <strong>Distributed Open Source Projects</strong>.</p>
						<br>
						
						<ul class="actions">
							<li><a href="#" class="button learn-more">Learn More</a></li>
						</ul>
					</div>
					<div class="main-content">
						<div class="vertical-align">
							<div class="video-wrapper">
								<iframe class="video demo1" src="https://www.youtube.com/embed/7TU8ldfVMvc?rel=0&amp;showinfo=0&amp;enablejsapi=1" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="folded">
						<div class="two-sections margin-top-lg wrap-reverse">
							<div>
								<div class="video-wrapper">
									<iframe class="video demo1" src="https://www.youtube.com/embed/7TU8ldfVMvc?rel=0&amp;showinfo=0&amp;enablejsapi=1" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div>
								<h2>Open Source Shareholders</h2>
								<p>Each project on Exposito has	 its own unique token that acts as its equity. You choose what percentage goes to the founders, developers and other shareholders. </p>
								<p>You can then use your shares to elect managers, assign funds or vote on major decisions. We call these new types of projects Distributed Open Source Projects.</p>
							</div>
						</div>

						<div class="two-sections margin-top-lg">
							<div>
								<h2>Coding Shares</h2>
								<p>Developers are the cornerstone of any successful open source project. As such, Exposito provides multiple mechanisms to encourage contributions. One of them is what we call Coding Shares. Essentially, the platform lets you allocate a percentage of a project’s shares to the developers, based on the number of lines of code that they wrote. For example, if a programmer has contributed 5000 lines on a 10 000 line project, that person will get 50% of the allocated shares.  </p>
								<p>Since some pieces of code requires more amount of work than others, multiple options are available to mitigate the disparities of the shares allocation. Other types of rewards are also available, such as granting a certain amount of shares or money for a specific feature or bug fix.</p>
							</div>
							<div class="">
								<img class="coding-shares" src="/images/coder-shares.svg" />
							</div>
						</div>


						<div class="two-sections margin-top-lg wrap-reverse">
							<div>
								<a target="_blank" href="https://aragon.one/"><img class="aragon-logo" src="/images/aragon-logo.png" /></a>
							</div>
							<div>
								<h2>Solid Foundation</h2>
								<p>Exposito is built on top of a promising new technology called <a target="_blank" href="https://aragon.one/">Aragon</a>. The platform allows us to securely provide powerful features like voting sessions for shareholders, custom roles for managers and contributors, dividend distribution and many more.</p>
							</div>
						</div>	


						<div class="two-sections margin-top-lg margin-bottom-lg">
							<div>
								<h2>Easy Fundraising</h2>
								<p>Since the tokens that act as a project shares are based on Ethereum as standard ERC20  contracts, it's simple to raise funds for your idea by creating an ICO, which consists in selling a percentage of a project's shares in exchange for liquidity.</p>
							</div>
							<div class="">
								<img class="fundraising" src="/images/fundraising.svg" />
							</div>
						</div>												

																	
					</div>
					<a href="#opensource" class="goto-next scrolly">Next</a>
				</section>



				<section id="opensource" class="spotlight style2 left middle">
					<span class="image fit main bottom">
						<img src="images/pic04.jpg" alt="" />
						<p class="big-quote">Exposito is based on an assumption: Open Source projects should be able to make money too</p>
					</span>
					<div class="main-content">
						<div class="vertical-align">
							<p class="big-quote">Exposito is based on an assumption: Open Source projects should be able to make money too</p>
							<div class="payments">
								<img class="payment" src="/images/bitcoin.svg">
								<img class="payment" src="/images/ethereum.svg">
								<img class="payment" src="/images/credit-cards2.png">
							</div>
						</div>
					</div>

					<div class="content">
						<h3>Open Source doesn’t have to mean free</h3>
						<p>We provide powerful tools to easily accept payments from your users and manage money exactly the way you want. Pay your servers automatically in cryptocurrencies, distribute a dividend to shareholders or set up periodic transfers for developers to reward them for their work.</p>
						
						<ul class="actions">
							<li><a href="#" class="button learn-more">Learn More</a></li>
						</ul>
					</div>

					<div class="folded">
						<div class="two-sections margin-top-lg wrap-reverse">
							<div>
								<div class="video-wrapper">
									<iframe src="https://www.youtube.com/embed/UUodNFDQw28?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
							<div>
								<h2>No Bank Account or Paperwork Needed</h2>
								<p>Everything in Exposito is managed through our programmable cryptocurrency wallets so you don't need to own any bank account and can take advantage of the zero cost transactions.</p>
								<p>And since not everyone is ready to pay in Ether or Bitcoins, we also let you easily accept credit card payments from your users, which will then be converted into the cryptocurrency of your choice.</p>
							</div>
						</div>	

						<div class="two-sections margin-top-lg margin-bottom-lg">
							<div>
								<h2>Periodic Transfers</h2>
								<p>With the periodic transfers, your organization has a flexible tool for easily transferring funds to people who contribute to your project.</p>
								<p>And just like any decision on the platform, the amounts and frequency of those payments can be either decided by a vote of shareholders or delegated to managers.</p>
							</div>
							<div>
								<div class="video-wrapper">
									<iframe src="https://www.youtube.com/embed/c5tCsqyEsUo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
						</div>											
					</div>
					<a href="#marketplace" class="goto-next scrolly">Next</a>
				</section>




				<section id="marketplace" class="spotlight right middle">
					<span class="image fit main bottom mobile">
						<img src="images/pic04.mobile.jpg" alt="" />
						<p class="big-quote">A marketplace where founders, developers and investors can meet and create new oportunities</p>
						<video autoplay muted playsinline loop >
							<source src="/images/marketplace-demo.mp4" type="video/mp4"></source>
						</video>						
					</span>
					<div class="content">
						<h3>Find the best developers to help you achieve your vision</h3>
						
						<p>Building an open source project is no easy task and finding software engineers to help you can be quite time consuming. This is why we provide a marketplace where every project is displayed with a complete description of its equity distribution.</p>
						<p>Developers can then choose the project that looks the most promising so they can best allocate their time. The more advantageous the equity of a project is for them, the easier it will be to recruit top tier coders. The marketplace is also a great way to find investors for your idea.</p>

					</div>

					<div class="main-content">
						<div class="vertical-align">
							<p class="big-quote md">A marketplace where founders, developers and investors can meet and create new oportunities</p>
							<video autoplay muted playsinline loop >
								<source src="/images/marketplace-demo.mp4" type="video/mp4"></source>
							</video>
						</div>
					</div>
					<a href="#cloud" class="goto-next scrolly">Next</a>
				</section>


				<section id="exposito" class="spotlight left middle">
					
					<span class="image fit main bottom">
						<img src="images/pic04.jpg" alt="" />
						<p class="big-quote">Become an Exposito shareholder by contributing to the project</p>
					</span>
					<div class="content">
						<header>
							<h2>Exposito is a Distributed Open Source Project itself</h2>
						</header>

						<p>Any developer can contribute to our codebase and receive tokens for their work. Our current equity distribution is as follow: 50% for the founders and 50% for developers. We also plan to introduce a dividend when Exposito reaches profitability. </p>

					</div>

					<div class="main-content">
						<p class="big-quote vertical-align">Become an Exposito shareholder by contributing to the project</p>
					</div>
					<a href="#invitation" class="goto-next scrolly">Next</a>
				</section>



				<section id="invitation" class="wrapper special fade">
					<div class="container">
						<header>
							<h2>First Beta in 2018</h2>
							<p>Sign up to receive your early invitation</p>
						</header>
						<form method="post" action="?" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)">
									<input
										type="submit"
										value="Sign up"
										class="fit special g-recaptcha"
										data-sitekey="6LdQ9SwUAAAAAL6eKj2lO385FqeCaZ5-6Z1Xu25A"
										data-callback="OnNewsletterSubmit"
										required
									/>
								</div>
							</div>
						</form>
					</div>
					<div class="container thankyou">
						<h2>Thank you</h2>
					</div>
					<div class="container error">
						<h2>Sorry there was an error submitting the form</h2>
					</div>
				</section>

				<footer id="footer">
					<ul class="icons">
						
						<li><a href="https://twitter.com/exposito_io" target="_blank" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<!--<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
						<li><a href="https://github.com/exposito-io" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</footer>

		</div>

		
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="vendor/jquery-validation/dist/jquery.validate.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/vendor/stopwatch-js/stopwatch-js.js"></script>

		<script src="assets/js/util.js"></script>
		
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>

		<script src="/js/main.js"></script>

		<!-- Google Code for Remarketing Tag -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 837448922;
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/837448922/?guid=ON&amp;script=0"/>
		</div>
		</noscript>		

	</body>

<% include footer %>
