<% include header %>

	<body class="landing">
		<div id="page-wrapper">

				<header id="header">
					<h1 id="logo"><a href="/">exposito</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<!--<li><a href="#contact">Contact</a></li>-->
							<li><a href="javascript:scrollTo('invitation')" class="button special">Try it now</a></li>
						</ul>
					</nav>
				</header>

				<section id="banner">
					<div class="content">
						<header>
							<h2>A new way to do Open Source</h2>
							<p>
								Exposito is a contribution platform based on<br> 
								cryptocurrencies that allow developers to<br> 
								build and manage their open source project as a 
								<a 
									href="#" 
									data-placement="top" 
									data-toggle="popover" 
									title="Decentralized Autonomous Organization" 
									data-content="A Decentralized Autonomous Organization (DAO) is a new form of organization that is built on a blockchain. The code by itself is decentralized and runs on thousands of nodes all over the world at the same time. Another decentralized characteristic is that anyone can participate in a DAO by acquiring tokens. Tokens are shares in a DAO and can be acquired, mostly in exchange for money. With tokens you can take part, collaborate, propose, rate and vote to name a few possible activities. If you want out, you can sell your tokens at the current market price, via an exchange. This open participation makes the DAO decentralized. "
								>
								<!-- https://www2.deloitte.com/nl/nl/pages/risk/articles/dao-innovative-organizations-on-the-blockchain.html#
								The code by itself is decentralized and runs on thousands of nodes all over the world at the same time. Another decentralized characteristic is that anyone can participate in a DAO by acquiring tokens. Tokens are shares in a DAO and can be acquired, mostly in exchange for money. With tokens you can take part, collaborate, propose, rate and vote to name a few possible activities. If you want out, you can sell your tokens at the current market price, via an exchange. This open participation makes the DAO decentralized.
								-->
									DAO
								</a>
							</p>
						</header>
						<span class="image"><img src="images/logo2.svg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>


				<section id="one" class="spotlight style1 right middle">
					<span class="image fit main">
						<img src="images/pic04.jpg" alt="" />
						<p class="big-quote">Manage your open source project just as you would manage a startup, but without any paperwork or bank account</p>
					</span>
					<div class="content">
						<header>
							<h2>Your project as a DAO</h2>
						</header>
						<p>Each project on Exposito is a Decentralized Autonomous Organization, with its own token as equity. You get to choose what percentage goes to the founders, managers, developers and other shareholders. You can then use your shares to elect project managers, assign funds or vote on any topic related to the project, like feature priority or dividend distribution.</p>
						<p>Developers are a special type of shareholders. Each developer receives an amount of tokens corresponding to the number of lines of code he or she contributed to the project. The more you contribute, the more tokens you receive. </p>
						<!--<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>-->
					</div>
					<div class="main-content">
						<p class="big-quote vertical-align">Manage your open source project just as you would manage a startup, but without any paperwork or bank account</p>
						<!--<p class="big-quote">Manage your open source project like you would manage a startup, except without any paperwork or bank account</p>-->
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>



				<section id="two" class="spotlight style2 left middle">
					<span class="image fit main bottom">
						<img src="images/pic04.jpg" alt="" />
						<p class="big-quote">Exposito is based on an assumption: Open Source projects should be able to make money too</p>
					</span>
					<div class="main-content">
						<!--<p class="big-quote">Exposito is based on an assumption: Open source projects can make money too.</p>-->
						<p class="big-quote vertical-align">Exposito is based on an assumption: Open Source projects should be able to make money too</p>
					</div>
					<div class="content">
						<header>
							<h2>Open Source doesn’t have to mean free</h2>
						</header>
						<p>We provide powerful tools to charge your customers and manage your money exactly the way you want. Pay your servers automatically or set up periodic payments for project managers and developers to reward them for their work. </p>
						<!--<p>And just like any decision on the platform, the amounts and frequency of those payments can be either decided by a vote of shareholders or delegated to managers. </p>-->
						<p>As a developer, receiving payments for your contributions is as easy as adding your Bitcoin public address to your Github profile. You don’t even need to register for an Exposito account. The platform will then automatically detect your address and transfer the amount to your wallet. </p>
						<!--<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>-->
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>




				<section id="four" class="spotlight right middle">
					<span class="image fit main bottom">
						<img src="images/pic04.jpg" alt="" />
						<p class="big-quote vertical-align">A marketplace where founders, developers and investors can meet and create new oportunities</p>
					</span>
					<div class="content">
						<header>
							<h2>Find other developers to contribute to your project</h2>
						</header>
						<p>Building an open source project is no easy task and finding the right software engineers to help advance the development of your app can be quite time consuming. This is why we provide a marketplace where every project is displayed with a complete description of its finances, equity distribution and current management team.</p>
						<p>Developers can then choose the project that looks the most promising so they can best allocate their time. The more advantageous the equity of a project is for them, the easier it will be to recruit top tier coders. </p>

					</div>

					<div class="main-content">
						<p class="big-quote vertical-align">A marketplace where founders, developers and investors can meet and create new oportunities</p>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>




				<section id="four" class="spotlight style1 left middle">
					<span class="image fit main bottom">
						<img src="images/pic04.jpg" alt="" />
						<p class="big-quote">Use the same tools that you’re used to work with and pay with cryptocurrencies</p>
					</span>
					<div class="content">
						<header>
							<h2>Cryptocurrency-enabled cloud providers</h2>
						</header>
						<p>Servers and data storage are often needed to run an app. But existing cloud providers are not well suited to decentralized organizations and cryptocurrencies. This is why we built a thin wrapper around popular cloud providers, such as AWS and Google Cloud Compute to make your life easier. </p>

						<p>It’ll allow your organization to pay for server instances and other cloud resources in cryptocurrencies and to elect IT managers, who will have the authorization to create, remove and modify those resources. <!--As usual, vote or delegate the task to elect the IT managers.--></p>

					</div>

					<div class="main-content">
						<div class="vertical-align">
							<p class="cloud-providers">
								<img src="/images/aws.png" alt="">
								<img src="/images/digital-ocean.png" alt="">
								<img src="/images/gcloud-white.png" alt="">
							</p>
							<p class="big-quote">Use the same tools that you’re used to work with and pay with cryptocurrencies</p>
						</div>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>




				<section id="four" class="spotlight style2 right middle">
					<span class="image fit main bottom">
						<img src="images/pic04.jpg" alt="" />
						<p class="big-quote vertical-align">Create an ICO in minutes, with your own custom term sheet</p>
					</span>
					<div class="main-content">
						<p class="big-quote vertical-align">Create an ICO in minutes, with your own custom term sheet</p>
					</div>

					<div class="content">
						<header>
							<h2>Finance your project with an ICO</h2>
						</header>

						<p>Since Exposito is built on top of the robust <a href="https://aragon.one" target="_blank">Aragon</a> platform, it is easy to create a token sale to raise money for your project. Just select the number of tokens you wish to create/sell, the amount you would like to raise and the duration of the fundraising/sale. You will have an ICO created in minutes for your project.</p>

					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>


				<section id="four" class="spotlight left middle">
					<span class="image fit main bottom">
						<img src="images/pic04.jpg" alt="" />
						<p class="big-quote">Become an Exposito shareholder by contributing to the project</p>
					</span>
					<div class="content">
						<header>
							<h2>Exposito is an open source DAO itself</h2>
						</header>

						<p>Any developer can contribute to our codebase and receive tokens for their work. Our current equity distribution is as follow: 50% for the founders and 50% for developers. We also plan to introduce a dividend when Exposito reaches profitability. </p>

					</div>

					<div class="main-content">
						<p class="big-quote vertical-align">Become an Exposito shareholder by contributing to the project</p>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>



				<section id="invitation" class="wrapper special fade">
					<div class="container">
						<header>
							<h2>First Beta in December 2017</h2>
							<p>Sign up to receive your early invitation</p>
						</header>
						<form method="post" action="?" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)">
									<input
										type="submit"
										value="Sign up"
										class="fit special g-recaptcha"
										data-sitekey="6LdQ9SwUAAAAAL6eKj2lO385FqeCaZ5-6Z1Xu25A"
										data-callback="OnNewsletterSubmit"
										required
									/>
								</div>
							</div>
						</form>
					</div>
					<div class="container thankyou">
						<h2>Thank you</h2>
					</div>
					<div class="container error">
						<h2>Sorry there was an error submitting the form</h2>
					</div>
				</section>

				<footer id="footer">
					<ul class="icons">
						<!--
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
						<li><a href="https://github.com/exposito-io" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</footer>

		</div>

		
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="vendor/jquery-validation/dist/jquery.validate.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>

		<script src="assets/js/util.js"></script>
		
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>

	</body>

<% include footer %>
