body {

}

h1#logo {
  font-family: 'Comfortaa', cursive;
  font-size: 38px;
}

#titlebar .title {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}



.popover {
  max-width: 400px;
  background-color: transparent;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 11.5pt;
}

.popover h3 {
  display: none;
}

.popover .popover-content {
  background-color: rgba(37, 48, 49, 0.92);
  padding: 20px;
}

.popover.top>.arrow:after {
  border-top-color: rgba(37, 48, 49, 0.92);
}