body {

}

h1#logo {
  font-family: 'Comfortaa', cursive;
  font-size: 38px;
}

#titlebar .title {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}



.popover {
  max-width: 400px;
  background-color: transparent;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 11.5pt;
}

.popover h3 {
  display: none;
}

.popover .popover-content {
  background-color: rgba(37, 48, 49, 0.92);
  padding: 20px;
}

.popover.top>.arrow:after {
  border-top-color: rgba(37, 48, 49, 0.92);
}

.popover.bottom>.arrow:after {
  border-bottom-color: rgba(37, 48, 49, 0.92);
}


.big-quote.md {
  font-size: 28px;
  line-height: 38px;
}

.big-quote.md:before,
.big-quote.md:after {
  font-size: 70px;
}


.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
    left: 0;
    padding: 0 3em;  
  width: 100%;
  transition: opacity 0.75s ease-in;
  opacity: 1;
}

.image.fit.mobile {
  max-height: initial;
  position: relative;
}

.image.fit.mobile > img {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 0;
}

.image.fit.mobile iframe {
    margin: auto;
    margin-top: 20px;
    z-index: 1;
    position: relative;  
    width: 560px;
    height: 315px;
    display: block;
}

.image.fit.mobile video {
  margin: auto;
  margin-top: 4px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;  
  width: calc(100% - 40px);
  height: auto;
  display: block;
}

.image.fit.mobile .big-quote {
  position: relative;
  font-size: 28px;
    margin-top: 70px;
    margin-bottom: 0;
    display: block;
  padding: 0 20px;
    box-sizing: border-box;
    left: 0;  
}

.main-content video {
  width: calc(92% - 2px);
  margin: auto;
  display: block;
}

video {
  border-radius: 4px;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;
  width: 90%;
  margin: auto;
  display: block;  
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


#opensource .payments {
  text-align: center;
}

#opensource .payments img.payment {
  margin: 0 20px;
  height: 160px;

}

#opensource .main-content .big-quote {
  font-size: 34px;
}


#exposito .content {
  padding-top: 8em;
}



@media screen and (max-width: 604px) {
  .image.fit.mobile iframe {
    width: 400px;
    height: 225px;
  }

  .image.fit.mobile .big-quote {
    top: 33px;
    font-size: 24px;
  }
}

@media screen and (max-width: 430px) {
  .image.fit.mobile iframe {
    width: 320px;
    height: 180px;
  }

  .image.fit.mobile .big-quote {
    top: 33px;
    font-size: 20px;
  }
}